In [1]:
import pandas as pd
df = pd.read_csv("nato_phonetic_alphabet.csv")

  letter     code
0      A     Alfa
1      B    Bravo
2      C  Charlie
3      D    Delta
4      E     Echo

In [9]:
nato_dict = {row.letter: row.code for index, row in df.iterrows()}

In [3]:
name = input("Enter a name : ").upper()

Enter a name : Erimsah

In [10]:
nato_representation = [nato_dict[letter] for letter in (name.strip()) if (letter in nato_dict)]

print(nato_representation)

['Echo', 'Romeo', 'India', 'Mike', 'Sierra', 'Alfa', 'Hotel']