In [2]:
import pandas as pd

In [5]:
series = pd.Series([1,2,3,4,5,6,7,8,9,0])
series

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [4]:
list = series.to_list()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [11]:
sample_series = pd.Series([2, 4, 6, 8, 10])
sample_series2 = pd.Series([1, 3, 5, 7, 9])

sample_series + sample_series2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [12]:
sample_series - sample_series2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [13]:
sample_series * sample_series2

0     2
1    12
2    30
3    56
4    90
dtype: int64

In [16]:
sample_series.compare(sample_series2)

   self  other
0     2      1
1     4      3
2     6      5
3     8      7
4    10      9

In [17]:
sample_series == sample_series2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [19]:
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
pd.Series(dict)

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [27]:
import numpy as np

arr = np.array([10,20,30,40,50])

In [28]:
pd.Series(arr)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [32]:
mixed = pd.Series([100,200,"python",300.12, 400])
mixed

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [34]:
pd.to_numeric(mixed,errors="coerce")

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

•	"raise" (varsayılan): Dönüştürme sırasında bir hata oluşursa, bir ValueError hatası yükseltilir.
	•	"coerce": Sayısal olmayan değerler NaN (Not a Number) ile değiştirilir.
	•	"ignore": Hata oluşursa orijinal veri olduğu gibi bırakılır ve dönüştürme yapılmaz.

In [42]:
mixed.values

array([100, 200, 'python', 300.12, 400], dtype=object)

In [43]:
type(mixed.values)

numpy.ndarray

In [45]:
df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Selena', 'Annabel', 'Caeso']
})

df2 = pd.DataFrame({
    'ID': [2, 3, 4],
    'Age': [25, 30, 22]
})
merged_df = pd.merge(df1, df2, on='ID')
merged_df

   ID     Name  Age
0   2  Annabel   25
1   3    Caeso   30