# Pandas

In [3]:
import pandas as pd 
import numpy as np 

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)
test = np.array(mydataset)

print(myvar,end="\n\n\n") 
print(test)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2


{'cars': ['BMW', 'Volvo', 'Ford'], 'passings': [3, 7, 2]}

In [2]:
print(pd.__version__)

1.4.2

## What is a Series?

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [2]:
import pandas as pd

a = ["x", 7, 2,31,52,"Dilara"]

myvar = pd.Series(a)

print(myvar)
print("\n\n\n")
print(myvar[2])

0         x
1         7
2         2
3        31
4        52
5    Dilara
dtype: object




2

### Custom labels

In [21]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

print(myvar[0])
print(myvar["x"])

x    1
y    7
z    2
dtype: int64
1
1

In [1]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)
print(myvar["day3"])

day1    420
day2    380
day3    390
dtype: int64
390

In [6]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390,"day4":543}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

In [30]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data,index=[">","=","<"])

print(myvar)

print(myvar.loc["="])
print("\n")
print(myvar.loc[["<",">"]])

   calories  duration
>       420        50
=       380        40
<       390        45
calories    380
duration     40
Name: =, dtype: int64


   calories  duration
<       390        45
>       420        50

In [25]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

print(myvar.loc[[0,2]])

   calories  duration
0       420        50
1       380        40
2       390        45
   calories  duration
0       420        50
2       390        45

## DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [32]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [9]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [10]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data)

print(df.loc[[0,1,2]])

   calories  duration
0       420        50
1       380        40
2       390        45

In [11]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

df = pd.DataFrame(data, index = ["day1", "day2", "day3"])

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

In [12]:
print(df.loc["day2"])

calories    380
duration     40
Name: day2, dtype: int64

In [13]:
import pandas as pd

# df = pd.read_csv('data.csv')

# print(df.to_string()) to print all data use df.to_string()

In [14]:
import pandas as pd

print(pd.options.display.max_rows)

60

In my system the number is 60, which means that if the DataFrame contains more than 60 rows, the print(df) statement will return only the headers and the first and last 5 rows.

In [15]:
import pandas as pd

pd.options.display.max_rows = 9999

print(pd.options.display.max_rows) 

#df = pd.read_csv('data.csv')

#print(df)

9999

Increase the maximum number of rows to display the entire DataFrame:

In [16]:
import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

JSON = Python Dictionary

JSON objects have the same format as Python dictionaries.

If your JSON code is not in a file, but in a Python Dictionary, you can load it into a DataFrame directly: